{{#if declineButton}}
  <img src="{{declineButton}}" class="button decline" alt="{{declineButtonText}}">
{{else}}
  <button class="button decline">{{declineButtonText}}</button>
{{/if}}
{{#if acceptButton}}
  <img src="{{acceptButton}}" class="button accept" alt="{{acceptButtonText}}">
{{else}}
  <button class="button accept">{{acceptButtonText}}</button>
{{/if}}
